/* Barra de rolagem */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666A51;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888f68;
    ;
}


html,
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ececec;
}

header {
    position: fixed;
    width: 100%;

    top: 0px;
    z-index: 5;
}

.box {
    max-width: 1200px;
    margin: 0px auto;
    border: 4px solid transparent;
    background-color: #ececec;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 13px;
    padding-left: 0px;
}

li {
    float: right;
    margin: 0 0 0 40px;
    color: #666A51;
}


.divisor {
    width: 100%;
    height: 15px;
    background-color: #666A51;
}


.header-body {
    width: 100%;
    height: 130px;
    background-color: #ececec;
}

.logotipo {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    padding-left: 20px;
}

.menus-header {
    width: auto;
    height: auto;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}


/* -------------------HEADER---------------- */

.titulo {
    width: auto;
    height: auto;
    margin-left: 680px;
    padding-top: 40px;
}

.nav-menu {
    width: 100%;
    height: 40px;
    background-color: #ececec;
    box-shadow: 0px 5px 30px 1px rgb(194, 187, 187);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;

}

.nav-menu>ul>li>a {
    text-decoration: none;
    color: #214723;
    transition: font-size 500ms;
}


.nav-menu>ul>li>a:hover {
    font-size: 18px;
    color: #39a740;
}

.nav-menu>ul>li>a:active {
    color: #47d851;
}


.menu-de-busca {
    width: 450px;
    height: 30px;
    border: 2px solid #666A51;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 10px;
}

input::placeholder {
    opacity: 60%;
}

.lupa {
    position: absolute;
    top: 155px;
    right: 20px;
    width: 20px;
}

/*---------------------- CADASTRO  -----------------------*/



.popUpcadastro {
    background-image: url(../img/Fundo.login.png);
    background-size: 100% 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    border: 3px solid #666A51;
    height: 835px;
    width: 575px;
    z-index: 9;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#boxcadastro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btncadastro {
    background-color: #667F48;
    color: white;
    padding: 16px 20px;
    margin: -20px 51px 30px 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

#iconpop2 {
    margin: 82px 0px 79px 75px;
}

#logincadastro {
    color: #666A51;
    font-size: 24px;
    padding: 108px 0px 0px 24px;
}

#btnlabel2 {
    color: #666A51;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    padding-right: 306px;
    padding-bottom: 7px;
    font-size: 16px;
    padding-left: 50px;
}

.popUpcadastro>#boxcadastro>input {
    background-color: blue;
    width: 90%;
    padding: 15px;
    margin: 5px 51px 30px 50px;
    border: 1px solid #666a51;
    background: #c5c5c58f;
    border-radius: 10px
}

#suppop2 {
    margin-top: -10px;
    text-align: center;
    color: #666A51;
    margin: -26px 51px 30px 50px;
    ;
}

#suppop3 {
    margin-top: -26px;
    text-align: center;
    color: #666A51;
    margin: -10px 51px 30px 125px;
}

/*---------------------- LOGIN -----------------------*/

.clicar-no-login {
    position: absolute;
    right: 176px;
    top: 35px;
    width: 55px;
    height: 50px;
    cursor: pointer;
    z-index: 11;
}

#logintxt {
    color: #666A51;
    font-size: 18px;
    padding: 108px 0px 0px 24px;
}

#iconpop {
    margin: 75px 0px 79px 51px;
}


#suppop {
    margin-top: -26px;
    text-align: center;
    color: #666A51;
    margin: -26px 51px 30px 50px;
    ;
}

#btnlabel {
    color: #666A51;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-left: 50px;
}



.popUpLogin {
    background-image: url(../img/Fundo.login.png);
    background-size: 100% 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    border: 3px solid #666A51;
    height: 648px;
    width: 430px;
    border-radius: 30px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




.bglogin {
    backdrop-filter: blur(5px);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}



#boxlogin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.btnCancelar {
    position: absolute;
    width: 40px;
    top: 15px;
    right: 15px;
    background-color: #667f484f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn {
    background-color: #667F48;
    color: white;
    padding: 16px 20px;
    margin: 5px 51px 30px 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}



#register {
    color: #666A51;
    margin: -18px 41px 18px 41px;
}


.popUpLogin>#boxlogin>input {
    background-color: blue;
    width: 90%;
    padding: 15px;
    margin: 5px 51px 30px 50px;
    border: 1px solid #666a51;
    background: #c5c5c58f;
    border-radius: 10px;

}

/* titulo */
.titulovitrine {
    text-align: center;
    color: #214723;
    font-size: 34px;
    margin-top: 200px;
    margin-bottom: 10px;

}

/* vitrine */

.galeria {
    display: flex;
    justify-content: center;
    transition: transform 500ms;

}

.galeria>li {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 18px 50px -10px;
}

.galeria>li:hover {
    transform: scale(1.05, 1.05)
}

.galeria li>a>img {
    height: 300px;
    margin: 0;
    padding: 0;
}

.galeria .detalhes p {
    color: #667F48;
}

.galeria .detalhes {
    text-align: center;
    font-size: 11px;
    margin: 0;
}

.myImages {
    height: 300px;
}

.produto {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.preço {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 10px 0px 10px 0px;
}

.parcelas {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
    color: #667F48;
    font-style: italic;
}

.modal {
    font-family: "Comfortaa", sans-serif;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 700px;
    height: 980px;
    border-radius: 0px 0px 0px 100px;

}

.modalHeader {
    width: 100%;
    height: 15px;
    background-color: #666A51;
    ;
    position: absolute;
}

.description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    width: 900px;
    height: 980px;
    border-radius: 0px 0px 100px 0px;

}

.tipoDoProduto {
    font-size: 45px;
    color: black;
    padding-left: 53px;
    top: 0px;
}

.nomeDoProduto {
    position: absolute;
    left: 750px;
    font-size: 60px;
    color: black;
    top: 50px;
}

.barra {
    position: absolute;
    left: 750px;
    top: 200px;
    height: 1px;
    width: 720px;
    background-color: black;
}

.sobreOProduto {
    position: absolute;
    left: 750px;
    font-size: 30px;
    top: 230px;
}

.barra2 {
    position: absolute;
    left: 750px;
    top: 500px;
    height: 1px;
    width: 720px;
    background-color: black;
}

.escolhas {
    position: absolute;
    left: 750px;
    font-size: 50px;
    top: 470px;
}

.escolhasBall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 750px;
    top: 600px;
    gap: 30px;
    max-width: 500px;
}

.escolha1,
.escolha2,
.escolha3,
.escolha4,
.escolha5,
.escolha6,
.escolha7,
.escolha8,
.escolha9,
.escolha10,
.escolha11,
.escolha12 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
}

.escolha1 {
    background-color: beige;
}

.escolha2 {
    background-color: gray;
}

.escolha3 {
    background-color: yellow;
}

.escolha4 {
    background-color: black;
}

.escolha5 {
    background-color: rgb(192, 63, 31);
}

.escolha6 {
    background-color: black;
}

.escolha7 {
    background-color: whitesmoke;
}

.escolha8 {
    background-color: pink;
}

.escolha9 {
    background-color: yellowgreen;
}

.escolha10 {
    background-color: black;
}

.escolha11 {
    background-color: brown;
}

.escolha12 {
    background-color: rgb(1, 1, 58);
}

.preco {
    position: absolute;
    left: 750px;
    font-size: 65px;
    top: 785px;
}

.btnComprar {
    position: absolute;
    left: 1000px;
    top: 850px;
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background-color: green;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.75);
    color: white;

}

.btnCarrinho {
    position: absolute;
    left: 1250px;
    top: 850px;
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background-color: green;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.75);

}

.btnCancelarCompra {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 100px;
}

.btnCarrinho:hover,
.btnComprar:hover,
.btnCancelarCompra:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.itemCompleto {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    transform: scale(0.5);
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(0.5)
    }
}

/* .informaçoes-cinza */

.informaçoes-cinza {
    background-color: #d9d9d9;
    width: 100%;
    height: 160px;
    margin: 100px 0px 60px 0px;
    display: flex;
    flex-direction: row;

}

.informaçoes-cinza img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
}

.informaçoes-cinza li {
    margin: 0px 10px;
}

.informaçoes-cinza p {
    max-width: 400px;
    margin-top: 30px;
    color: black;
    min-width: 2px;
}

.informaçoes-cinza h6 {
    margin: 0px;
}

.titulos-info {
    font-size: 22px;
}

/* Propriedades Footer */


footer {
    background-image: url(../img/footer_background2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 400px;
    position: relative;
    max-width: 100%;
}

/* container do meio do footer */


.footerContent {
    background-color: #c7cb8b3b;
    display: flex;
    width: 100%;
    position: absolute;
    top: 120px;
    font-family: Comfortaa;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.socialMenu {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 'list1'
        'list2';
    width: 450px;
    margin: 5px;
}

.list1 {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: list1;
}

.list2 {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: list2;
}


.footerSocial,
.footerPayment {
    margin: 5px;
    size: 340px;
}

.paymentCards p,
.socialText h3,
.paymentSubscription h3 {
    color: grey;
}

.socialText h3 {
    text-align: center;
    margin: 0 0 5px 30px;
}

.footerPayment p {
    padding: 5px 0 10px 0;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    gap: 5px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.socialText {
    padding-left: 8px;
    padding-bottom: 15px;
}

.socialIcons {
    display: flex;
    padding: 0 0 8px 27px;
    width: 450px;
    justify-content: space-between;
    margin: 5px;
}

#subscriptionEmail {
    background-color: transparent;
    border: 3px solid gray;
    color: #808080;
    padding: 5px 15px 5px 5px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-family: Montserrat;
}

#submitButton {
    background-color: transparent;
    border: 3px solid gray;
    color: gray;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

#submitButton:hover {
    color: rgb(70, 70, 70);
    font-weight: bold;
}

.paymentCards p {
    margin: 10px 0 10px 0;

}

.paymentIcons {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0px;
}

.socialIcons a,
.paymentIcons a,
.socialMenu ul li a {
    text-decoration: none;
    color: gray;
}

.socialIcons a:hover,
.paymentIcons a:hover,
.socialMenu ul li a:hover {
    color: rgb(70, 70, 70);
}

#textoFinal {
    text-align: center;
    position: absolute;
    width: 520px;
    top: 315px;
    left: 50%;
    margin-left: -255px;
    font-family: comfortaa;
    font-size: 15px;
    font-weight: bolder;
    color: grey;
}